<div class="col-md-4 col-sm-10">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h4 style="display: inline">
                Subject - {{this.subject}}
            </h4>
            <div id="ratingQuantity{{this.id}}" style="display: inline; color:wheat; position:absolute; right:20px">
                {{this.ratingQuantity}}
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">Grade - {{this.gradeLevel}}</p>
            <p class="card-title">Title - {{this.name}}</p>
            <p class="card-text">Desciption - {{this.description}}</p>
            <a href="{{this.materials}}" class="btn btn-warning">Download</a>
            <button class="btn btn-warning likeBtn" data-recordId="{{this.id}}"><i class="fas fa-thumbs-up"></i></button>
        </div>
    </div>
</div>