<div class="col-md-4 col-sm-10">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <div style="display: inline">
                {{this.subject}}
            </div>
            <div id="ratingQuantity{{this.id}}" style="display: inline; position:absolute; right:20px">
                {{this.ratingQuantity}}
            </div>
            <div>
                <i class="glyphicon glyphicon-thumbsup"></i>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="{{this.materials}}" class="btn btn-warning">Download</a>
            <button class="btn btn-warning likeBtn" data-recordId="{{this.id}}"><i class="fas fa-thumbs-up"></i></button>
        </div>
    </div>
</div>