<div class="col-md-4 col-sm-10">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <div style="display: inline">
                {{this.subject}}
            </div>
            <div style="display: inline; position:absolute; right:20px">
                {{this.avgRating}}/5
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="{{this.materials}}" class="btn btn-warning">More Info</a>
            {{!-- <a href="" class="btn btn-warning">More Info</a> --}}
        </div>
    </div>
</div>